* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
h3 {
  color: #474747;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
h4 {
  color: #181818;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h5 {
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #474747;
}
p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: #757575;
}
.primary-btn {
  background-color: #fd6e0a;
  padding: 18px 35px;
  border-radius: 5px;
  margin: auto;
  border: none;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.secondary-btn {
  color: #fd6e0a;
  padding: 18px 35px;
  margin: auto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
}

/* primary settings closed */

header {
  height: 837px;
  background: #fff8f3;
  padding: 50px 50px 0 100px;
  background-image: url("resources/images/picbg.png"),
    url("resources/images/Developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, center left;
}
header nav {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
  align-items: center;
}

header nav h1 {
  color: #181818;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
header nav h1 span {
  color: #fd6e0a;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
header nav ul li {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #474747;
}

/* nav closed */

.main-banner {
  display: flex;
}

.banner-txt {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.banner-txt h1 {
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #181818;
}

.banner-txt-btns button {
  margin: 30px;
}

.banner-img img {
  margin-bottom: -50px;
}

/* banner closed */

.about-me {
  margin: 100px auto;
  width: 1140px;
  border-radius: 10px;
  background: #fff8f3;
  padding: 100px;
  text-align: center;
}
.about-me h1,
about-me p,
.about-me .about-me-box {
  padding: 50px 0;
}
.about-me-box {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.name {
  color: #757575;
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.info {
  color: #474747;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

/* about me section closed */

.what-i-do {
  text-align: center;
  margin: auto;
  width: 1140px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.what-i-do .what-i-do-boxes {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  text-align: left;
}

.what-i-do .what-i-do-boxes .what-i-do-boxe {
  width: 267px;
  height: 377px;
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.what-i-do .what-i-do-boxes .what-i-do-boxe p {
  font-size: 16px;
  padding-top: 20px;
}

/* what id do section closed */

.summary {
  padding: 100px 0;
  margin: auto;
  width: 1140px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
.summary h5 {
  text-align: center;
}
.education-experience {
  display: flex;
  gap: 70px;
}

.my-education,
.my-experience {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.summary-edu {
  color: #474747;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* summary section closed */

footer {
  background: #fff8f3;
  margin-top: 100px;
}
.footer {
  padding: 130px 0;
  display: flex;
  gap: 30px;
  width: 1140px;
  margin: auto;
}
.connect {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 50%;
}
.msg {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
form input {
  background-color: white;
  width: 461px;
  height: 64px;
  border-radius: 5px;
  padding: 8px 30px;
  border: none;
}
